* {
    box-sizing: border-box;
}

body {
    background-color: #023047;
    color: white;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    height: 100vh
}

.container {
    width: 90%;
    max-width: 1440px;
    min-width: 375px;
    background-color: #219ebc;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5rem;
    margin-right: 5rem;
    display: block;
}

.encriptador {
    display: flex;
    object-fit: cover;
}

.cabecera {
    display: flex;
    align-items: center;
}

.entradaTexto {
    border-radius: 2rem;
    height: 100%;


}

.textoEntrada {
    border: 0px;
    width: 100%;
    background-color: #8ecae6;
    min-height: 200px;
    font-family: sans-serif;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 16px;
    resize: none;
    outline: none;
    padding: 1rem;
    color: #023047;

}


.botones {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.boton {
    padding: 10px;
    width: 40%;
    padding: 1rem 0;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    word-wrap: break-word;

}


#btnEncriptar {
    background-color: #023047;
    transition: 0.8s linear;
}

#btnEncriptar:hover {
    background-color: #023047a8;
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

#btnDesencriptar {
    background-color: #023047;
    transition: 0.8s linear;
}

#btnDesencriptar:hover {
    background-color: #023047a8;
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

.salida {
    color: #023047;
    font-size: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    justify-content: center;
}

.texto {
    background-color: white;
    background-image: url(../img/Muñeco.svg);
    background-position: center;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 200px;
    word-wrap: break-word;
    white-space: initial;
    border-radius: 10px;
    border: 2px;
    padding: 1px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: sans-serif;
    padding: 1rem;
    box-sizing: border-box;

}

.btnCopiar {
    padding: 10px;
    width: 80%;
    padding: 1rem 0;
    border: none;
    border-radius: 5px;
    background-color: #023047;
    color: white;
    cursor: pointer;
    margin: 0 auto;

}

#btnCopiar:hover {
    background-color: #023047a8;
    transform: scale(1.05);
    transition: 0.3s ease-in;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.linkONE {
    text-decoration: none;
}

.disenador {
    font-size: 12px;
}

.social_link {
    display: inline-block;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    background-size: 100%;
}

.social_link.facebook {
    background-image: url(../img/facebook.svg);
}

.social_link.linkedin {
    background-image: url(../img/linkedin.svg);
}

.social_link.instagram {
    background-image: url(../img/instagram.svg);
}

.social_link.github {
    background-image: url(../img/github.svg);
}